
.git
.github
.husky
.vscode
scripts
coverage
docs
node_modules
tests
.auto-changelog
.env
.eslint*
.gitignore
.nvmrc
.husky*
.prettier*
.travis.yml
Dockerfile
env.sample
jest.config.js
manifest*
*.log
*.md
nodemon.json
